<footer class="footer">
  <div class="footer__column">
    <p class="copyrigth">Siberian, LLC {{ "now"|date("Y") }}<p>
    <p class="design">
      <a href="https://www.instagram.com/rg_dsgn/" title="Roman Gladenko Portfolio">Design by RG</a>
    <p>
  </div>
  <div class="footer__column">
    <p class="policy">
      <a href="/privacy" title="Privacy Policy">Privacy Policy</a>
    </p>
  </div>
</footer>