<header class="header">
  <div class="logo">
    Siberian<span>studio</span>
  </div>
  <nav class="navigation">
    <ul>
      <li>
        <a class="js-scroll-to-anchor" title="About Siberian" href="#about">About</a>
      </li>
      <li>
        <a class="js-scroll-to-anchor" title="Development" href="#development">Development</a>
      </li>
      <li>
        <a class="js-scroll-to-anchor" title="Work with us" href="#contacts">Work with us</a>
      </li>
    </ul>
  </nav>
</header>