<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Developing mobile and web apps">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>omelnizapps.io</title>

  <link rel="stylesheet" type="text/css" href="css/style.css">

  {% include "favicon.twig" %}
</head>
<body>
  {% block page %}{% endblock %}
  {% include "footer.twig" %}

  <script type="text/javascript" src="js/libs.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</body>
</html>