.contacts {
  margin-bottom: 70px;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  line-height: 28px;
}

.contacts__wrapper {
  background-color: #39CE95;
  padding: 20px 10px 40px 10px;
}

.contacts__title {
  font-weight: bold;
  font-size: 36px;
  color: #101626;
  letter-spacing: -1.12px;
  line-height: 48px;
  margin-bottom: 6px;
}

.contacts__desc {
  color: #000000;
  letter-spacing: -0.83px;
  margin-bottom: 33px;
}

.contacts__details {
  padding-bottom: 42px;
  margin-bottom: 9px;

  h4 {
    font-weight: bold;
    color: #101626;
    letter-spacing: -0.83px;
    line-height: 28px;
  }

  p {
    letter-spacing: -0.83px;
  }
}

.contacts__socialLinks {
  margin-top: 12px;

  li {
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;
  }
}

.contacts__post {
  margin-bottom: 58px;

  h4 {
    font-weight: bold;
  }

  p {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 24px;
  }
}

.contacts__form {
  .btn--primary {
    transition: transform 300ms ease;
    margin-bottom: 7px;

    &:hover {
      transform: scale(1.1) rotate(-5deg);
    }
  }

  .form__actions {
    p {
      opacity: 0.75;
      font-family: 'Work Sans', sans-serif;
      font-size: 16px;
      color: #101626;
      letter-spacing: -0.5px;
      line-height: 24px;
    }
  }
}

@mixin respond-to $breakpoint-mobile-hd {
  .contacts__wrapper {
    padding: 20px 20px 40px 20px;
  }
}

@mixin respond-to $breakpoint-tablet {
  .contacts {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 36px;
  }

  .contacts__wrapper {
    padding: 20px 20px 40px 20px;
  }

  .contacts__header {
    max-width: 560px;
  }

  .contacts__inner {
    display: flex;
    justify-content: space-between;
  }

  .contacts__main {
    max-width: 560px;
    margin-right: 60px;
    order: -1;
  }

  .contacts__secondary {
    max-width: 300px;
    margin-top: -138px;
    margin-right: 60px;
  }

  .contacts__details {
    margin-bottom: 12px;
  }

  .contacts__desc {
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 36px;
  }

  .contacts__details {
    h4 {
      margin-bottom: 4px;
    }

    p {
      display: inline;
    }
  }
}

@mixin respond-to $breakpoint-desktop {
  .contacts {
    padding: 0px 20px;
    margin-bottom: 100px;
  }

  .contacts__title {
    font-size: 64px;
    letter-spacing: -2px;
    line-height: 76px;
    margin-bottom: 14px;
  }

  .contacts__wrapper {
    border-radius: 16px;
    margin-left: -40px;
    margin-right: -40px;
    padding: 28px 40px 30px 40px;
  }

  .contacts__details {
    padding-bottom: 60px;
  }

  .contacts__post {
    margin-bottom: 68px;

    h4 {
      font-size: 24px;
      letter-spacing: -1px;
      line-height: 32px;
      margin-bottom: 7px;
    }
  }

  .contacts__form {
    .form__actions {
      display: flex;
      align-items: center;

      .btn--primary {
        margin-right: 24px;
        white-space: nowrap;
      }

      p {
        margin-bottom: 8px;
      }
    }
  }
}